@import "../../../assets/stylesheets/breakpoints";
@import "../../../assets/stylesheets/variable";

.signup-paper {
  padding: 30px 30px 30px 30px;
  width: 350px;
  margin-top: 70px;

  @include breakpoints('xs') {
    width: 90%;
    padding: 30px 15px 30px 15px;
    margin-bottom: 20px;
  }

  .signup-btn {
    color: $white-color;
    width: 100%;
    height: 45px;
    margin-top: 25px;
  }

  .back-text {
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }
  }
}