.video-title {
  font-size: 24px;
  font-weight: 700 !important;
}

.tutor-name {
  font-size: 15px;
  font-weight: 500;
}

.cardContainer {
  border-radius: 0 !important;
  margin-top: 20px;

  .course-list {
    font-size: 20px !important;
    font-weight: 700 !important;
    padding-left: 10px;
  }
}
