@import '~video-react/styles/scss/video-react';

.bg-img {
  background-image: url('../../../assets/images/noData.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 500px;
}
