/* Default Variables */
$primary-color: #03A2A5 !default;

$white-color: #FFFFFF;
$success-color: #11AA44 !default;
$error-color: #d32f2f !default;
$warning-color: #FF6600 !default;
$yellow: #FFC008 !default;
$box-shadow : 2px 2px 5px rgba(0, 0, 0, 0.2);;
$web-kit-shadow : 2px 2px 5px rgba(0, 0, 0, 0.2);